#======== Layers ===============
MaxLayers                     : 2
MaxSublayers                  : 7
AllIndependentLayersFlag      : 1
#======== Alpha ================
SEIAlphaChannel               : 1
SEIScalabityDimension         : 1
#======== OLSs =================
EachLayerIsAnOlsFlag          : 1
NumOutputLayerSets            : 2
NumPTLsInVPS                  : 1
#======== Layer-0 ===============
LayerId0                      : 0
#======== Layer-1 ===============
LayerId1                      : 1
#======== OLS-0 ===============
OlsPTLIdx0                    : 0
#======== OLS-1 ===============
OlsPTLIdx1                    : 1
